{% load leaflet_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'maps/style.css' %}">

<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body>
  <script type="text/javascript">
    function plot_marker(client_data){
      window.addEventListener("map:init", function (event) {
        var clientMap = event.detail.map;
        var newMarker = map_add_marker(clientMap, [client_data.longitude, client_data.latitude])
        var content = `<p>${client_data.name} ${client_data.phone_number}</p>`;
        newMarker.bindPopup(content);
        newMarker.on('click', onClick);
      }, false);
    }

    function onClick(event) {
       var popup = event.target.getPopup();
    }

    function map_add_marker(map, coord) {
      return L.marker(coord).addTo(map);
    }
  </script>

  {% leaflet_map "client_map" %}
  {% if address_list %}
    {% for address in address_list %}
    <script>plot_marker(
      {
        name: "{{ address.client.name }}",
        phone_number: "{{ address.client.phone_number }}",
        longitude: "{{ address.longitude }}",
        latitude: "{{ address.latitude }}"
      }
    )</script>
    {% endfor %}
  {% else %}
    <p>No clients in database</p>
  {% endif %}
</body>
